/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Global styles */
  body {
    font-family: Arial, sans-serif;
  }
  
  /* Header styles */
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
  }
  
  nav ul {
    list-style-type: none;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #fff;
  }
  
  /* Home section styles */
  #home {
    background-color: #f2f2f2;
    padding: 50px;
    text-align: center;
  }
  
  /* About section styles */
  #about {
    background-color: #fff;
    padding: 50px;
  }
  
  /* Projects section styles */
  #projects {
    background-color: #f2f2f2;
    padding: 50px;
  }
  
  .project {
    margin-bottom: 20px;
  }
  
  /* Contact section styles */
  #contact {
    background-color: #fff;
    padding: 50px;
  }
  
  form label {
    display: block;
    margin-bottom: 10px;
  }
  
  form input,
  form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  form button {
    background-color:rgb(73, 69, 69);
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  
  /* Footer styles */
  footer {
    background-color:rgb(73, 69, 69);
    color: #fff;
    padding: 20px;
    text-align: center;
  }